.user {
    margin-bottom: 1em;
}

.container {
    display: flex;
}

.label {
    margin-right: 1em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subtitle {
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1em;
}

.icon {
    cursor: pointer;
}

.button {
    margin-right: 0.5em;
}

.buttons {
    margin-top: 1em;
    margin-bottom: 2em;
}

.input {
    margin-bottom: 0.5em;
}

.errorLabel {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: red;
}