<div class="title">Esta é a página de Product Owner. Pode adicionar configuradores, bem como alterar as suas permissões
    de acesso às
    funcionalidades do sistema.</div>

<div *ngIf="!singleUser">
    <div class="subtitle">
        Adicionar Configurador
    </div>
    <div class="inputs">
        <div class="input">
            Email: <input type="text" [(ngModel)]="inputEmail" name="inputEmail">
        </div>
        <div class="input">
            Password: <input type="password" [(ngModel)]="inputPassword" name="inputPassword">
        </div>
    </div>

    <div class="errorLabel" *ngIf="errorLabel">Preencha os todos os campos.</div>
    <div class="buttons">
        <button class="button" (click)="addConf()">Adicionar</button>
    </div>
</div>

<div *ngIf="users && !singleUser">
    <div *ngIf="users?.length > 0">
        <div *ngFor="let user of users">
            <div class="container">
                <div class="user">
                    <div class="label"><b>Email:</b> {{user.email}}</div>
                </div>
                <div class="icon" (click)="goToDetails(user)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="users?.length == 0">
        <div>Não tem configuradores.</div>
    </div>
</div>

<div *ngIf="singleUser">

    <div class="subtitle">Permissões</div>

    <div class="permissions">
        <div class="checkbox mat-checkbox-success text-center">
            MDF: <mat-checkbox [checked]="mdf" (change)="updateMDF()"></mat-checkbox>
        </div>
        <div class="checkbox mat-checkbox-success text-center">
            MDP: <mat-checkbox [checked]="mdp" (change)="updateMDP()"></mat-checkbox>
        </div>
        <div class="checkbox mat-checkbox-success text-center">
            Clientes: <mat-checkbox [checked]="clientes" (change)="updateClientes()"></mat-checkbox>
        </div>
        <div class="checkbox mat-checkbox-success text-center">
            Encomendas: <mat-checkbox [checked]="encomendas" (change)="updateEncomendas()"></mat-checkbox>
        </div>
    </div>

    <div class="buttons container">
        <div class="goBack button">
            <button (click)="goBack()">Voltar</button>
        </div>
        <div>
            <button class="button" type="button" (click)="updatePermissions()">Alterar Permissões</button>
        </div>
    </div>
</div>