<div *ngIf="!showDetails">
    <button class="addTipoMaquina" (click)="navigateToAddTipoMaquina()">Adicionar Tipo de Maquina</button>

    <div *ngIf="tiposMaquinas?.length > 0">
        <div *ngFor="let tipoMaquina of tiposMaquinas">
            <div class="tipoMaquina container">
                <div class="nome"><b>Nome:</b> {{tipoMaquina.nome}}</div>
                <div class="icon" (click)="goToDetails(tipoMaquina.id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="tiposMaquinas?.length == 0">
        <div>Não tem tipos de maquina registadas.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-tipo-maquinas-details [tipoMaquinaId]="tipoMaquinaId" (goBackEvent)="backFromDetails()">
    </app-tipo-maquinas-details>
</div>
