.tipoMaquina {
    margin-bottom: 0.5em;
}

.container {
    display: flex;
}

.nome {
    margin-right: 1em;
}

.addTipoMaquina {
    margin-bottom: 2em;
    margin-right: 0.5em;
}

.icon{
    cursor: pointer;
}