<div>
    <div class="title">Adicionar Linha de Produção</div>
    <form>
        <div class="inputs">
            Designação: <input type="text" [(ngModel)]="inputDesignacao" name="inputDesignacao">
        </div>


    </form>


    <div class="container">
        <div>
            <div class="labelMaquinas"><b>Máquinas Disponíveis:</b></div>
            <div class="lista">
                <div *ngFor="let maquina of maquinas">

                    <div class="container">
                        <div class="maquina">
                            <div class="label"><b>Marca:</b> {{maquina.marca.nome}}</div>
                            <div class="label"><b>Modelo:</b> {{maquina.modelo.nome}}</div>

                        </div>
                        <div class="icon" (click)="addToList(maquina)">
                            <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="labelToAdd"><b>Máquinas para adicionar:</b></div>
            <div class="subtitle"><small>(A ordem apresentada será a ordem das máquinas na linha de produção)</small>
            </div>
            <div *ngFor="let maquina of maquinasToAdd">

                <div class="container">
                    <div class="maquina">
                        <div class="label"><b>Marca:</b> {{maquina.marca.nome}}</div>
                        <div class="label"><b>Modelo:</b> {{maquina.modelo.nome}}</div>

                    </div>
                    <div class="icon" (click)="removeFromList(maquina)">
                        <mat-icon aria-hidden="false" aria-label="Remove">remove</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="errorLabel" *ngIf="errorLabel">Erro ao adicionar linha de produção!</div>
        <button class="button" (click)="goBack()">Voltar</button>
        <button class="button" (click)="addLinha()">Adicionar Linha</button>
    </div>

</div>
