<div *ngIf="isAuthenticated()">
  <button mat-button [matMenuTriggerFor]="menuMDF" *ngIf="hasMDFPermission()">MasterDataFabrica</button>
  <mat-menu #menuMDF="matMenu">
    <button mat-menu-item (click)="navigateToLinhasProducao()">LinhasProducao</button>
    <button mat-menu-item (click)="navigateToMaquinas()">Maquinas</button>
    <button mat-menu-item (click)="navigateToOperacoes()">Operacoes</button>
    <button mat-menu-item (click)="navigateToTiposMaquinas()">TiposMaquinas</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuMDP" *ngIf="hasMDPPermission()">MasterDataProducao</button>
  <mat-menu #menuMDP="matMenu">
    <button mat-menu-item (click)="navigateToProdutos()">Produto</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuENC" *ngIf="hasEncomendasPermission()">Encomendas</button>
  <mat-menu #menuENC="matMenu">
    <button mat-menu-item (click)="navigateToAddEncomendas()" *ngIf="getUserType() == '1'">Criar Encomendas</button>
    <button mat-menu-item (click)="navigateToListEncomendas()">Ver Encomendas</button>
  </mat-menu>
  <button mat-button (click)="navigateToClientes()" *ngIf="hasClientesPermission()">Clientes</button>
  <button mat-button (click)="navigateToPerfil()" *ngIf="getUserType() == '1'">Perfil</button>
  <button mat-button (click)="logout()">Logout</button>
</div>