<div>
    <div class="title">Adicionar Operação</div>
    <form>
        <div class="inputs">
            Descrição: <input type="text" [(ngModel)]="inputDescricao" name="inputDescricao">
        </div>
        <div class="inputs">
            Duracao: <input type="number" [(ngModel)]="inputDuracao" name="inputDuracao">
        </div>

    </form>
    
    <div class="errorLabel" *ngIf="errorLabel">Erro ao adicionar operação!</div>
    <button class="button" (click)="goBack()">Voltar</button>
    <button class="button" (click)="addOperacao()">Adicionar</button>

</div>