.cliente {
    margin-bottom: 1em;
}

.container {
    display: flex;
}

.label {
    margin-right: 1em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.icon{
    cursor: pointer;
}