<div *ngIf="!showDetails">
    <div class="title">
        Clientes
    </div>

    <div *ngIf="clientes?.length > 0">
        <div *ngFor="let cliente of clientes">
            <div class="container">
                <div class="cliente">
                    <div class="label"><b>Nome:</b> {{cliente.nome}}</div>
                </div>
                <div class="icon" (click)="goToDetails(cliente._id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="clientes?.length == 0">
        <div>Não existem clientes.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-cliente-details [clienteId]="clienteId" (goBackEvent)="backFromDetails()">
    </app-cliente-details>
</div>