<div *ngIf="linha">
    <div class="title">{{linha.designacao}}</div>


    <div class="title2">Lista de Máquinas:</div>

    <div class="container">
        <div class="maquinas">
            <div *ngIf="maquinas?.length > 0">
                <div *ngFor="let maquina of maquinas">
                    <div class="maquina">
                        <div class="label"><b>Marca:</b> {{maquina.marca.nome}}</div>
                        <div class="label"><b>Modelo:</b> {{maquina.modelo.nome}}</div>
                        <div class="label"><b>Estado:</b>
                            <span *ngIf="maquina.active"> Ativa</span>
                            <span *ngIf="!maquina.active"> Desativada</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="goBack">
        <button (click)="goBack()">Voltar</button>
    </div>