<div *ngIf="encomenda">
    <div class="title">{{encomenda.numero}}</div>

    <div class="title2">Data: {{encomenda.data | date}}</div>

    <div class="title2">Produto: {{encomenda.produtoNome}}</div>

    <div class="title2">Quantidade: <span *ngIf="!changing">{{encomenda.quantidade}}</span> <span
            *ngIf="changing"><input placeholder="{{encomenda.quantidade}}" type="text" [(ngModel)]="inputQuantidade"
                name="inputQuantidade"></span></div>

    <div class="title2">Taxa de IVA: {{encomenda.taxa_iva}}%</div>

    <div class="title2">Preço por unidade: {{encomenda.preco}} €</div>

    <div class="title2">Total: {{encomenda.total}} €</div>

    <div class="title2">Estado: {{encomenda.estado}}</div>
</div>
<div class="container">
    <div class="button">
        <button (click)="goBack()" *ngIf="!changing">Voltar</button>
        <button (click)="cancelChanging()" *ngIf="changing && getUserType() == '0'">Cancelar Alterações</button>
    </div>
    <div *ngIf="getUserType() == '0'" class="button">
        <button (click)="changeEncomenda()" *ngIf="!changing">Alterar Encomenda</button>
        <button (click)="confirmEncomenda()" *ngIf="changing">Confirmar Alterações</button>
    </div>
    <div *ngIf="getUserType() == '0'" class="deleteButton">
        <button (click)="cancelarEncomenda()" *ngIf="!changing">Cancelar Encomenda</button>
    </div>
</div>