.container {
    display: flex;
}

.maquinas {
    margin-right: 3em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.name {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 2em;
}

.goBack {
    margin-top: 2em;
}

.maquina{
    margin-bottom: 0.5em;
}

.operacao{
    margin-bottom: 0.5em;
}
