<div *ngIf="tipoMaquina && !showChangeOperacoes">
    <div class="name">{{tipoMaquina.nome}}</div>



    <div class="container">

        <div class="maquinas">
            <div class="title">Máquinas</div>
            <div *ngIf="maquinas?.length > 0">
                <div *ngFor="let maquina of maquinas">
                    <div class="maquina">
                        <div class="label"><b>Marca:</b> {{maquina.marca.nome}}</div>
                        <div class="label"><b>Modelo:</b> {{maquina.modelo.nome}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="operacoes">
            <div class="title">Operações</div>
            <div *ngIf="operacoes?.length > 0">
                <div *ngFor="let operacao of operacoes">
                    <div class="operacao">
                        <div class="nome"><b>Nome:</b> {{operacao.descricao}}</div>
                        <div><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>
                    </div>
                </div>

            </div>

            <div class="changeOperacoes">
                <button (click)="goToChangeOperacoes()">Alterar Operacoes</button>
            </div>
        </div>

    </div>

    <div class="goBack">
        <button (click)="goBack()">Voltar</button>
    </div>

</div>

<div *ngIf="showChangeOperacoes">
    <app-change-operacoes [tipoMaquina]="tipoMaquina" (goBackEvent)="backFromChange()">
    </app-change-operacoes>
</div>
