<div *ngIf="!showDetails">
    <div class="title">
        Encomendas
    </div>

    <div *ngIf="encomendas?.length > 0">
        <div *ngFor="let encomenda of encomendas">
            <div class="container">
                <div class="encomenda">
                    <div class="label"><b>Produto:</b> {{encomenda.produtoNome}}</div>
                    <div class="label"><b>Valor Total:</b> {{encomenda.total}} €</div>
                    <div class="label"><b>Data:</b> {{encomenda.data | date}}</div>
                </div>
                <div class="icon" (click)="goToDetails(encomenda._id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="encomendas?.length == 0">
        <div>Não tem encomendas.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-encomenda-details [encomendaId]="encomendaId" (goBackEvent)="backFromDetails()">
    </app-encomenda-details>
</div>
