<div *ngIf="!showDetails">
    <div class="title">
        Maquinas
    </div>
    <button class="addMaquina" (click)="navigateToAddMaquina()">Adicionar Maquina</button>

    <div *ngIf="maquinas?.length > 0">
        <div *ngFor="let maquina of maquinas">
            <div class="container">
                <div class="maquina">
                    <div class="label"><b>Marca:</b> {{maquina.marca.nome}}</div>
                    <div class="label"><b>Modelo:</b> {{maquina.modelo.nome}}</div>
                </div>
                <div class="icon" (click)="goToDetails(maquina.id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="maquinas?.length == 0">
        <div>Não tem maquinas registadas.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-maquina-details [maquinaId]="maquinaId" (goBackEvent)="backFromDetails()">
    </app-maquina-details>
</div>
