<div *ngIf="!showDetails">
    <div class="title">
        Produtos
    </div>
    <button class="addProduto" (click)="navigateToAddProduto()">Adicionar Produto</button>

    <div *ngIf="produtos?.length > 0">
        <div *ngFor="let produto of produtos">
            <div class="container">
                <div class="produto">
                    <div class="label"><b>Nome:</b> {{produto.nome}}</div>
                </div>
                <div class="icon" (click)="goToDetails(produto.id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="produtos?.length == 0">
        <div>Não tem produtos registados.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-produtos-details [produtoId]="produtoId" (goBackEvent)="backFromDetails()">
    </app-produtos-details>
</div>
