.title {
    margin-bottom: 2em;
}

.inputs {
    margin-bottom: 0.5em;
}

.button {
    margin-bottom: 1em;
}

.underline {
    cursor: pointer;
}

.errorLabel {
    color: red;
    margin-top: 1em;
    margin-bottom: 1em;
}