<h2 class="title">Login</h2>
<form>
    <div class="inputs">
        Email: <input type="text" [(ngModel)]="inputEmail" name="inputEmail">
    </div>
    <div class="inputs">
        Password: <input type="password" [(ngModel)]="inputPassword" name="inputPassword">
    </div>
</form>
<button class="button" (click)="Authenticate()">Login</button>
<div class="errorLabel" *ngIf="errorLabel">Erro de autenticação!</div>
<div>Se ainda não se encontra registado, clique <u class="underline" (click)="toRegister()">aqui.</u></div>