<div class="main-title">Mudar Operações de {{tipoMaquina.nome}}</div>
<div *ngIf="operacoes?.length > 0">

    <div class="title">Lista de Operações</div>
    <div class="subtitle"><small>(selecione as que pretende adicionar, as antigas vão ser substituidas)</small></div>

    <div *ngFor="let operacao of operacoes">

        <div class="container">
            <div class="tipo">
                <div class="nome"><b>Nome:</b> {{operacao.descricao}}</div>
                <div><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>
            </div>

            <div class="checkbox mat-checkbox-success text-center">
                <mat-checkbox [checked]="operacao.toAdd" (change)="updateToAdd(operacao)"></mat-checkbox>
            </div>
        </div>
    </div>


    <button class="button" (click)="goBack()">Voltar</button>
    <button class="button" (click)="changeOperacoes()">Adicionar</button>
</div>

<div *ngIf="operacoes?.length == 0">
    <div>Não tem operações registadas.</div>
</div>
