.container {
    display: flex;
}

.addOperacao {
    margin-bottom: 2em;
    margin-right: 0.5em;
}

.inputs {
    margin-bottom: 0.5em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 1em;
}

.button {
    margin-right: 0.5em;
}

.errorLabel {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: red;
}

.operacao {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.labelOperacoes {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 20em;
}

.labelToAdd {
    margin-top: 2em;
}

.subtitle {
    margin-bottom: 1em;
}

.icon {
    cursor: pointer;
}

.buttons {
    margin-top: 1em;
}