<div>
    <div class="title">Adicionar Produto</div>
    <form>
        <div class="inputs">
            Nome: <input type="text" [(ngModel)]="inputNome" name="inputNome">
            Preço: <input type="number" [(ngModel)]="inputPreco" name="inputPreco">
        </div>


    </form>


    <div class="container">
        <div>
            <div class="labelOperacoes"><b>Operações:</b></div>
            <div class="lista">
                <div *ngFor="let operacao of operacoes">

                    <div class="container">
                        <div class="operacao">
                            <div class="label"><b>Nome:</b> {{operacao.descricao}}</div>
                            <div class="label"><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>
                        </div>
                        <div class="icon" (click)="addToList(operacao)">
                            <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="labelToAdd"><b>Operacões para adicionar:</b></div>
            <div class="subtitle"><small>(A ordem apresentada será a ordem das operações no Plano de Fabrico)</small>
            </div>
            <div *ngFor="let operacao of operacoesToAdd">

                <div class="container">
                    <div class="operacao">
                        <div class="label"><b>Nome:</b> {{operacao.descricao}}</div>
                        <div class="label"><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>

                    </div>
                    <div class="icon" (click)="removeFromList(operacao)">
                        <mat-icon aria-hidden="false" aria-label="Remove">remove</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div class="errorLabel" *ngIf="errorLabel">Erro ao adicionar produto!</div>
        <button class="button" (click)="goBack()">Voltar</button>
        <button class="button" (click)="addProduto()">Adicionar Produto</button>
    </div>

</div>