<div *ngIf="!showDetails">
    <div class="title">
        LinhasProducao
    </div>
    <button class="addLinha" (click)="navigateToAddLinha()">Adicionar Linha de Producao</button>

    <div *ngIf="linhas?.length > 0">
        <div *ngFor="let linha of linhas">
            <div class="container">
                <div class="linha">
                    <div class="label"><b>Nome:</b> {{linha.designacao}}</div>
                </div>
                <div class="icon" (click)="goToDetails(linha.id)">
                    <mat-icon aria-hidden="false" aria-label="Details">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="linhas?.length == 0">
        <div>Não tem linhas de produção registadas.</div>
    </div>
</div>

<div *ngIf="showDetails">
    <app-linhas-producao-details [linhaId]="linhaId" (goBackEvent)="backFromDetails()">
    </app-linhas-producao-details>
</div>
