<div *ngIf="maquina && !showChange">
    <div class="container">
        <div class="table">
            <div class="title">Marca</div>
            <div>{{maquina.marca.nome}}</div>
        </div>

        <div class="table">
            <div class="title">Modelo</div>
            <div>{{maquina.modelo.nome}}</div>
        </div>

        <div class="table">
            <div class="title">Tipo Maquina</div>
            <div>{{maquina.tipoMaquina.nome}}</div>
        </div>

        <div class="table">
            <div class="title">Estado</div>
            <div *ngIf="maquina.active">Ativa</div>
            <div *ngIf="!maquina.active">Desativada</div>
        </div>
    </div>

    <div class="container">
        <div class="changeTipo">
            <button (click)="goToChangeTipo()">Alterar Tipo de Máquina</button>
        </div>

        <div class="changeState">
            <button (click)="changeState()">Desativar/Ativar</button>
        </div>
    </div>

    <div class="goBack">
        <button (click)="goBack()">Voltar</button>
    </div>
</div>

<div *ngIf="showChange">
    <app-change-tipo-maquina [maquina]="maquina" (goBackEvent)="backFromChange()">
    </app-change-tipo-maquina>
</div>