.table {
    margin-right: 1em;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.container {
    display: flex;
}

.changeTipo {
    margin-top: 3em;
    margin-right: 1em;
}

.changeState {
    margin-top: 3em;
}

.goBack {
    margin-top: 1em;
}