<div class="title">{{produto.nome}}</div>

<div class="label">Preço: {{produto.preco}} €</div>

<div class="title2">Operações de Plano de Fabrico:</div>

<div class="container">

    <div *ngIf="operacoes?.length > 0">
        <div *ngFor="let operacao of operacoes">
            <div class="operacao">
                <div class="label"><b>Nome:</b> {{operacao.descricao}}</div>
                <div class="label"><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>
            </div>
        </div>

    </div>

</div>
<div class="goBack">
    <button (click)="goBack()">Voltar</button>
</div>