.operacao {
    margin-bottom: 0.5em;
}

.container {
    display: flex;
}

.label {
    margin-right: 1em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.title2 {
    font-weight: 500;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

