<h2 class="title">Registar</h2>
<form>
    <div class="inputs">
        User: <input type="text" [(ngModel)]="inputUser" name="inputUser">
    </div>
    <div class="inputs">
        Password: <input type="password" [(ngModel)]="inputPassword" name="inputPassword">
    </div>
    <div class="inputs">
        E-mail: <input type="email" [(ngModel)]="inputEmail" name="inputEmail">
    </div>
    <div class="inputs">
        Morada completa: <input type="text" [(ngModel)]="inputMorada" name="inputMorada">
    </div>
</form>
<button class="button" (click)="Authenticate()">Registar</button>
<div class="errorLabel" *ngIf="required">Preencha os campos todos</div>
<div class="errorLabel" *ngIf="emailExists">O email já existe</div>
<div>Se já se encontra registado, clique <u class="underline" (click)="toLogin()">aqui.</u></div>