<div class="main-title">Mudar Tipo de Máquina de {{maquina.marca.nome}} | {{maquina.modelo.nome}}</div>
<div *ngIf="tiposMaquinas?.length > 0">

    <div class="title">Lista de Tipos de Máquina</div>
    <div class="subtitle"><small>(selecione a que pretende adicionar, a antiga vai ser substituida)</small></div>

    <div class="labelTipos"><b>Tipos de Maquinas:</b></div>
    <div *ngFor="let tipo of tiposMaquinas">

        <div class="container">
            <div class="tipo">
                <div class="nome"><b>Nome:</b> {{tipo.nome}}</div>

            </div>
            <mat-radio-button [checked]="tipo.toAdd" (change)="updateRadios(tipo)"></mat-radio-button>

        </div>
    </div>


    <button class="button" (click)="goBack()">Voltar</button>
    <button class="button" (click)="changeTipo()">Alterar</button>
</div>

<div *ngIf="tiposMaquinas?.length == 0">
    <div>Não tem tipos de máquina registados.</div>
</div>
