.container {
    display: flex;
}

.tipo {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.button {
    margin-right: 0.5em;
}

.labelTipos {
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subtitle {
    margin-bottom: 1em;
}