<button class="addOperacao" (click)="navigateToAddOperacao()">Adicionar Operação</button>

<div *ngIf="operacoes?.length > 0">
    <div *ngFor="let operacao of operacoes">
        <div class="operacao">
            <div class="nome"><b>Nome:</b> {{operacao.descricao}}</div>
            <div><b>Duracao:</b> {{operacao.duracao.tempo}} secs</div>
        </div>
    </div>

</div>

<div *ngIf="operacoes?.length == 0">
    <div>Não tem operações registadas.</div>
</div>
