.produto {
    margin-bottom: 1em;
}

.container {
    display: flex;
}

.label {
    margin-right: 1em;
}

.title2 {
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 1em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-top: 1em;
    margin-bottom: 1em;
}

.orderLabel {
    margin-bottom: 1em;
    font-weight: 500;
}

.orderButtons {
    margin-bottom: 2em;
}

.orderButton {
    font-size: 17px;
    margin-right: 0.5em;
}