<div *ngIf="produtos?.length > 0">
    <div class="title">
        Criar Encomenda
        <div><small>(Escolha 1 produto e a quantidade que pretende encomendar)</small></div>
    </div>

    <div>
        <div class="orderLabel">Ordenar Produtos por:</div>
        <div class="orderButtons container">
            <button class="orderButton" type="button" (click)="orderTempo()">Tempo Producão</button>
        </div>


    </div>

    <div class="inputs">
        Quantidade: <input type="number" [(ngModel)]="inputQuantidade" name="inputQuantidade">
    </div>

    <div class="title2">
        Produtos
    </div>
    <div *ngFor="let produto of produtos">
        <div class="container">
            <div class="produto">
                <div class="label"><b>Nome:</b> {{produto.nome}}</div>
                <div class="label"><b>Preço:</b> {{produto.preco}} €</div>
                <div class="label"><b>Tempo de Produção:</b> {{produto.tempoFabrico}} secs</div>
            </div>

            <mat-radio-button [checked]="produto.toAdd" (change)="updateRadios(produto)"></mat-radio-button>
        </div>
    </div>
    <div class="button">
        <button class="button" (click)="addEncomenda()">Criar Encomenda</button>
    </div>
</div>


<div *ngIf="produtos?.length == 0">
    <div>Não existem produtos disponíveis. Por favor venha mais tarde.</div>
</div>