.inputs {
    margin-bottom: 0.5em;
}

.title {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 1em;
}

.button {
    margin-right: 0.5em;
}

.errorLabel {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: red;
}

.container {
    display: flex;
}

.tipo {
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.labelTipos {
    margin-top: 1em;
    margin-bottom: 1em;
}