<div>
    <div class="title">Adicionar Maquina</div>
    <form>
        <div class="inputs">
            Marca: <input type="text" [(ngModel)]="inputMarca" name="inputMarca">
        </div>
        <div class="inputs">
            Modelo: <input type="text" [(ngModel)]="inputModelo" name="inputModelo">
        </div>
    </form>

    <div class="labelTipos"><b>Tipos de Maquinas:</b></div>
    <div *ngFor="let tipo of tiposMaquinas">

        <div class="container">
            <div class="tipo">
                <div class="nome"><b>Nome:</b> {{tipo.nome}}</div>
                
            </div>
            <mat-radio-button [checked]="tipo.toAdd" (change)="updateRadios(tipo)"></mat-radio-button>

        </div>
    </div>


    <div class="errorLabel" *ngIf="errorLabel">Erro ao adicionar linha de produção!</div>
    <button class="button" (click)="goBack()">Voltar</button>
    <button class="button" (click)="addMaquina()">Adicionar</button>
</div>