<div *ngIf="cliente">
    <div class="label">Nome: <span *ngIf="!changing">{{cliente.nome}}</span> <span *ngIf="changing"><input
                placeholder="{{cliente.nome}}" type="text" [(ngModel)]="inputNome" name="inputNome"></span></div>

    <div class="label"><span *ngIf="changing || userType != '0'">Morada: </span> <span
            *ngIf="!changing && userType == '1'">{{cliente.morada}}</span> <span *ngIf="changing"><input
                placeholder="{{cliente.morada}}" type="text" [(ngModel)]="inputMorada" name="inputMorada"></span></div>


    <div class="container" *ngIf="!changing">
        <div class="button" *ngIf="clienteId">
            <button (click)="goBack()">Voltar</button>
        </div>
        <div class="button">
            <button (click)="change()">Alterar Informação</button>
        </div>
    </div>

    <div class="container" *ngIf="changing">
        <div class="button">
            <button (click)="cancel()">Cancelar Alterações</button>
        </div>
        <div class="button">
            <button (click)="confirm()">Confirmar Alterações</button>
        </div>
    </div>



</div>